{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Post list</title>
{% endblock title %}

{% block content %}
    <div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST" id="deleteForm" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <script src="{% static 'js/post/delete.js' %}"></script>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="postModalLabel">Create Post</h1>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'post-create' %}">
                {% csrf_token %}
                {{ PostForm.as_p }}
                <hr>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
            <script>
                var textarea = document.getElementById("postArea");
            </script>
              <script src="{% static 'js/scaled_input.js' %}"></script>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateModalLabel">Update Post</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" id="updateForm" action="">
                {% csrf_token %}
                <textarea id="areaUpdate" class="form-control" style="border: none; resize: none;" rows="1" placeholder="Update your post..." name="content"></textarea>
                <hr>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
              <script src="{% static 'js/post/update.js' %}"></script>
              <script>
                var textarea = document.getElementById("areaUpdate");
              </script>
              <script src="{% static 'js/scaled_input.js' %}"></script>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar bg-secondary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Posts</span>
            {% if current_user.is_authenticated %}
                <button class="btn btn-lg" data-bs-toggle="modal" type="button" data-bs-target="#postModal"><i class="bi bi-plus-lg"></i> Create</button>
            {% endif %}
      </div>
    </nav>
    <div class="container mt-3 border p-5">
        <div class="row">
            <h1 class="d-flex justify-content-center">All Posts</h1>
            
            <div class="col-12">
                {% for post, reactions in PostReactions.items %}
                    {% include 'post.html' with display='block' pk=post.pk user=post.user current_user=current_user date=post.date content=post.content reactions=reactions %}
                {% endfor %}
                <script src="{% static 'js/reaction/add_reaction.js' %}"></script>
            </div>
        </div>
    </div>
{% endblock content %}