
$primary: #FAA748;
$secondary: #62331E;
$body-bg: #321E1F;
$body-color: #F4F2B6;
$success: #F4F2B6;
$info: #B09A73;
$danger: #9F6444;
$input-bg: #F4F2B6;
$table-color: #62331F;
$input-disabled-bg: #B09A73;
$dropdown-bg: #F4F2B6;
$pagination-bg: #F4F2B6;
$jumbotron-bg: #62331F;
$progress-bg: #F4F2B6;
$breadcrumb-bg: #62331F;
$pagination-border-color: #62331F;
$pagination-disabled-bg: #B09A73;
$pagination-disabled-color: #F4F2B6;
$pagination-disabled-border-color: #62331E;
$list-group-bg: #9F6444;
$list-group-disabled-color: #B09A73;
$list-group-action-color: #F4F2B6;
$card-bg: #F4F2B6;
$card-color: $black;
$card-cap-color: $black;
$list-group-hover-bg: #62331E;
$text-muted: #B09A73;
$modal-content-bg: #62331E;
$close-color: $white;