{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>{{portal}}</title>
    <style>
        .widget {
            position: absolute;
            user-select: none;
        }
    </style>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <img src="{{portal.banner.url}}" class="card-img-top" width="1400" height="350" style="filter: brightness(50%);">
                    <div class="card-body">
                        <img src="{{portal.avatar.url}}" class="rounded-circle" width="128" height="128" style="position: absolute;">
                        <h2 class="card-title text-right">{{portal.user.username}} Portal</h2>
                        {% if current_user != portal.user %}
                            {% if friends %}
                                <div class="container" style="margin: 0 120px;">
                                    You are friends
                                </div>
                            {% elif acceptSent %}
                                <div class="row" style="margin: 0 100px;">
                                    <div class="col-1">
                                        <form method="post" action="{% url 'accept' portal.user.pk %}">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-success" type="submit"><i class="bi bi-check-lg"></i></button>
                                        </form>
                                    </div>
                                    <div class="col-1">
                                        <form method="post" action="{% url 'cancel' portal.user.pk %}">
                                            {% csrf_token %}
                                            <button class="btn btn-sm btn-secondary" type="submit"><i class="bi bi-x-lg"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% else %}
                                <div class="container" style="margin: 0 100px;">
                                    <form method="post" action="{% url 'send-request' portal.user.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-info" type="submit">{% if requestSent %}Cancel Request{% else %}Add Friend{% endif %}</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12" style="margin: 60px 0 0 0;">
                <h5>About {{portal.user.username}}:</h5>
                {% if current_user == portal.user %}
                    <a href="{% url 'portal-create' %}">Edit Profile</a>
                {% endif %}
                <br>
                <p>Friends: {{portal.user.friend_list.friends.count}}</p>
                <p>Joined at: {{portal.joined_at}}</p>
                <p>{{portal.about}}</p>
            </div>
        </div>
        <script>
            let editMode = false;
            
            window.onload = () => {
                if ("{{current_user}}" == "{{portal.user}}") {
                    const widgets = document.querySelectorAll('.widget');
                    
                    document.getElementById('edit').addEventListener('click', editFunction);
                    
                    function editFunction() {
                        if (editMode) {
                            location.reload();
                        } else {
                            editMode = true;
                            document.getElementById('edit').innerText = 'Save';
                            widgets.forEach(widget => makeDraggable(widget));  
                        }
                    }
                }
            }
        
            function updatePosition(widgetId, x, y) {
                fetch(`/widget/update-widget-position/${widgetId}`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({ x_position: x, y_position: y })
                });
            }
        
            function makeDraggable(widget) {
                let newX = 0, newY = 0, startX = 0, startY = 0, newTop = 0, newLeft = 0;
                
                const container = widget.parentElement;
                const containerRect = container.getBoundingClientRect();
                
                widget.addEventListener('mousedown', function (e) {
                    startX = e.clientX
                    startY = e.clientY
                    
                    document.addEventListener('mousemove', mouseMove)
                    document.addEventListener('mouseup', mouseUp)
                });
                
                function mouseMove(e) {
                    newX = startX - e.clientX
                    newY = startY - e.clientY
                    
                    startX = e.clientX
                    startY = e.clientY
                    
                    newTop = widget.offsetTop - newY;
                    newLeft = widget.offsetLeft - newX;
                    
                    const widgetRect = widget.getBoundingClientRect();
                    
                    if (newLeft < 0) {
                        newLeft = 0;
                        console.log('LEFT');
                    } else if (newLeft + widgetRect.width > containerRect.width) {
                        newLeft = containerRect.width - widgetRect.width;
                        console.log('RIGHT');
                    }
                    
                    if (newTop < 0) {
                        newTop = 0;
                        console.log("TOP");
                    } else if (newTop + widgetRect.height > 500) {
                        newTop = 500 - widgetRect.height;
                    }
                    
                    widget.style.top = newTop + 'px'
                    widget.style.left = newLeft + 'px'
                    
                }
                
                function mouseUp(e) {
                    let x = parseInt(widget.style.left);
                    let y = parseInt(widget.style.top);
                    updatePosition(widget.dataset.id, x, y);
                    document.removeEventListener('mousemove', mouseMove);
                }
                
            }
        </script>
        {% if current_user == portal.user %}
            <button id="edit" type="button" class="btn btn-secondary">Edit Portal</button>
        {% endif %}
        <div class="row">
            <div class="col">
                {% for widget in widgets %}
                    <div class="card widget" data-id="{{ widget.id }}" style="left: {{widget.x_position}}px; top: {{widget.y_position}}px;">
                        {% if widget.widget_type == 'text' %}
                            {{ widget.content }}
                        {% elif widget.widget_type == 'image' %}
                            <img src="{{ widget.image.url }}" alt="Widget Image" style="max-width: 100px; pointer-events: none;">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}