{% extends 'base.html' %}

{% block title %}
    <title>{{post.user}}'s post comments</title>
{% endblock title %}

{% block content %}
    <div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST" id="deleteForm" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <script>
                        $("#deleteModal").on('show.bs.modal', function (event) {
                            const button = event.relatedTarget;
                            const username = button.getAttribute("data-username");
                            const date = button.getAttribute("data-date");
                            const pk = button.getAttribute("data-pk");
                            
                            const deleteLabel = document.getElementById("deleteModalLabel");
                            deleteLabel.textContent = `Delete comment by @${username} at ${date}?`
                            
                            const deleteForm = document.getElementById("deleteForm");
                            deleteForm.action = `/comment/${pk}/delete`;
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateModalLabel">Update Post</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" id="updateForm" action="">
                {% csrf_token %}
                <textarea id="areaUpdate" class="form-control" style="border: none; resize: none;" rows="1" placeholder="Update your comment..." name="content"></textarea>
                <hr>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
              <script>
                  $('#updateModal').on('show.bs.modal', function (event) {
                    const updateForm = document.getElementById("updateForm");
                    const button = event.relatedTarget;
                    const area = document.getElementById("areaUpdate");
                    
                    const pk = button.getAttribute('data-pk');
                    const content = button.getAttribute('data-content');
                    
                    area.value = content;
                    updateForm.action = `/comment/${pk}/update`;
                });
              </script>
              <script>
                var textarea = document.getElementById("areaUpdate");

                textarea.addEventListener('input', function(){
                    this.style.height = 'auto';
                    this.style.height = this.scrollHeight + 'px';
                    submit.style.display = 'block';
                    cancel.style.display = 'block';
                });
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3 border p-5">
        <div class="row">
            <div class="col">
                {% include 'post.html' with detail=True display='block' pk=post.pk user=post.user current_user=current_user date=post.date content=post.content reactions=reactions %}
            </div>
        </div>
        <br>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col">
                    {% include 'comment_form.html' with pk=post.pk comment_form=comment_form %}
                </div>
            </div>
            <br>
        {% endif %}
        <div class="row">
            {% for comment in post.comments.all %}
                <div class="col-12">
                    {% include 'post.html' with detail=True comment=True display='block' pk=comment.pk user=comment.user current_user=current_user date=comment.date content=comment.content %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}