<div class="container">
    <h1>Редактор профиля</h1>
    <a href="{% url 'add-widget' %}">Добавить виджет</a>
    <div id="editor" style="position: relative; width: 800px; height: 600px; border: 1px solid #000;">
        {% for widget in widgets %}
            <div 
                class="card widget" 
                data-id="{{ widget.id }}" 
                style="left: {{ widget.x_position }}px; top: {{ widget.y_position }}px;"
            >
                {% if widget.widget_type == 'text' %}
                    {{ widget.content }}
                {% elif widget.widget_type == 'image' %}
                    <img src="{{ widget.image.url }}" alt="Widget Image" style="max-width: 100px; pointer-events: none;">
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
