{% extends 'base.html' %}

{% block title %}
    <title>Main page</title>
    <style>
        #load-more {
            margin: 5px auto;
            padding: 10px 20px;
            color: white;
            cursor: pointer;
        }
    </style>
{% endblock title %}
    
{% block content %}
    <div class="container mt-3 border-start border-end">
        <div class="row">
            <div class="col">
                <h1 class="d-flex justify-content-center">Whats new?</h1>
                <br>
                
                <div class="row">
                    <div class="col-12">
                        {% for ann in Announcements %}
                            <div class="container" id="announcements">
                                {% if forloop.first %}
                                    {% include 'post.html' with display="block" pk=ann.pk first_name=ann.user.first_name last_name=ann.user.last_name username=ann.user.username date=ann.date content=ann.content %}
                                {% else %}
                                    {% include 'post.html' with display="none" pk=ann.pk first_name=ann.user.first_name last_name=ann.user.last_name username=ann.user.username date=ann.date content=ann.content %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="button" class="btn btn-warning" id="load-more">Load More Announcements</button>
            </div>
            
        </div>
    </div>
    
    <script>
        let offset = 0;
        
        function loadMore() {
            fetch(`/load-more-announcements/?offset=${offset}`)
                .then(response => response.json())
                .then(data => {
                    const container = document.getElementById('announcements');
                    data.announcements.forEach(item => {
                        announcementCard = document.getElementById(`announcement_${item.pk}`);
                        announcementCard.style.display = "block";
                    });

                    offset += 1;

                    console.log(data.announcements.length);

                    if (data.announcements.length < 1) {
                        document.getElementById('load-more').style.display = 'none';
                    }
                });
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('load-more').addEventListener('click', loadMore);
        });
    </script>

{% endblock content %}